* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

.hero {
  height: 100vh;
  background-image: url('assets/bg1.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.about {
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 60px;
}
